body {
    background-color: #303030 !important;
}


#chatcontainer {
    background-color: #000000;
}


/* Chatbox CSS */
.chatbox-in {
    background-color: #191919 !important;
    height: 85%;
    padding: 15px;
    margin-top: 10px;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


/* User Text CSS */
.userText {
    font-family: monospace;
    padding: 6px 10px;
    border-radius: 25px 25px 0px 25px;
    position: relative;
    background: #015f76;
    color: white;
    font-size: 17px;
}

.userTextSpan {
    width: 100%;
    margin: 0 0 15px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}


/* Bot Text CSS */
.botText {
    font-family: monospace;
    padding: 6px 10px;
    border-radius: 25px 25px 25px 0px;
    position: relative;
    background: #383d47;
    color: white;
    font-size: 17px;
}

.botTextSpan {
    width: 100%;
    margin: 0 0 15px;
    display: flex;
    align-self: flex-start;
}


/* Text input CSS */

#userInput {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 12px 10px 10px 10px;
    border-radius: 0px 0px 4px 4px ;
    background-color: #1a3241;
    display: flex;
}

#textInput {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    border: none;
    font-family: monospace;
    font-size: 18px;
    padding: 2px;
    border-radius: 4px;
    padding: 4px;
}

#chatView {
    margin-top: 200px;
}

.sendTextBtn {
    margin-left: 5px;
    background-color: cadetblue !important;
}
